<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>FindAbed</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>accueilBS.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Index.FindAbed</servlet-name>
    <servlet-class>com.findabed.app.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index.FindAbed</servlet-name>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FormulaireInscription</servlet-name>
    <servlet-class>com.findabed.app.FormulaireInscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormulaireInscription</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Publication</servlet-name>
    <servlet-class>com.findabed.app.Publication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Publication</servlet-name>
    <url-pattern>/publication</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Profil</servlet-name>
    <servlet-class>com.findabed.app.FormulaireProfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profil</servlet-name>
    <url-pattern>/Profil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Deconnection</servlet-name>
    <servlet-class>com.findabed.app.Deconnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnection</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Recherche</servlet-name>
    <servlet-class>com.findabed.app.RechercheAnnonce</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Recherche</servlet-name>
    <url-pattern>/recherche</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Visualisation</servlet-name>
    <servlet-class>com.findabed.app.VisualisationAnnonce</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Visualisation</servlet-name>
    <url-pattern>/visualisation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Details</servlet-name>
    <servlet-class>com.findabed.app.DetailsAnnonce</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Details</servlet-name>
    <url-pattern>/details</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Autocompletion</servlet-name>
    <servlet-class>com.findabed.app.Autocompletion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Autocompletion</servlet-name>
    <url-pattern>/autocompletion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModificationAnnonce</servlet-name>
    <servlet-class>com.findabed.app.FormulaireModifierAnnonce</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificationAnnonce</servlet-name>
    <url-pattern>/modifierAnnonce</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GestionAnnonces</servlet-name>
    <servlet-class>com.findabed.app.GestionAnnonces</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionAnnonces</servlet-name>
    <url-pattern>/gestionAnnonces</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SuppressionAnnonce</servlet-name>
    <servlet-class>com.findabed.app.SuppressionAnnonce</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuppressionAnnonce</servlet-name>
    <url-pattern>/suppressionAnnonce</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReservationAnnonce</servlet-name>
    <servlet-class>com.findabed.app.ReservationAnnonce</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationAnnonce</servlet-name>
    <url-pattern>/reservation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GestionReservations</servlet-name>
    <servlet-class>com.findabed.app.GestionReservations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionReservations</servlet-name>
    <url-pattern>/gestionReservations</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SuppressionReservation</servlet-name>
    <servlet-class>com.findabed.app.SuppressionReservation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuppressionReservation</servlet-name>
    <url-pattern>/suppressionReservation</url-pattern>
  </servlet-mapping>
</web-app>